body{
  background-color: snow;
}
.topnav{
  z-index: 1;
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  padding-left: 4%;
  background-color: rgba(141, 210, 221, 0.4);
}
.topnav div{
  position: fixed;
  display: flex;
  right: 5%;
}
.sidenav{
  z-index: 0;
  position: fixed;
  display: grid;
  top: 0;
  left: 0;
  padding-bottom: 40vh;
  padding: 10% 1%;
  width: 10%;
  background-color: rgba(141, 210, 221, 0.4);
}
.sidenav button{
  font-size: 18px;
  padding: 10px 20px;
  width: 100%;
  font-weight: 700;
  background-color: #8DD2DD;
  border: 1px solid white;
  text-align: left;
  border-radius: 5px;
}
.sidenav button:hover{
  background-color: #2fadc6;
}
.studentnav{
  z-index: 0;
  display: flex;
  top: 0;
  left: 0;
  padding-bottom: 40vh;
  width: 100%;
}
.studentnav button{
  font-size: 17px;
  padding: 10px 20px;
  width: 100%;
  font-weight: 700;
  background-color: #8DD2DD;
  border: 1px solid white;
  text-align: left;
  border-radius: 5px;
}
.container{
  margin: 10% 15%;
}